.idea/
.vscode/
node_modules/
build/
tmp/
temp/
.env
.persistent-cache/
*-example*
scratch/
target
old/
xml_output/
json.sqlite
media-files/*
!media-files/.gitkeep
credentials.json
Dockerfile
docker-compose.yml
build_docker.sh
sqlite3.db